<launch>
	<node name="eddie_ssl_trainer" pkg="eddiebot_ssl" type="trainer.py" output="screen">
		<param name="trace_file" value="$(find eddiebot_ssl)/assets/3room/3room_trace.json" />
		<param name="room_dest" value="$(find eddiebot_ssl)/assets/3room/room_dest.json" />
		<param name="person_loc" value="$(find eddiebot_ssl)/assets/3room/person_loc.json" />
		<param name="approach_person" value="$(find eddiebot_ssl)/assets/3room/approach_person.json" />
		<param name="sound_wave_model" value="$(find eddiebot_gazebo)/objects/sound_wave/model.sdf" />
	</node>
</launch>