<launch>
    <node pkg="eddiebot_teleop" type="eddie_teleop" name="eddie_teleop" output="screen" >
    	<remap from="/eddie/keyop_cmd_vel" to="yocs_cmd_vel_mux/input/teleop"/>
        <param name="angular_scale" value="0.14" />
        <param name="linear_scale" value="0.17" />
    </node>
</launch>