<launch>

  <!-- Launch tf transform -->
  <include file="$(find eddiebot_bringup)/launch/includes/tf_transform.launch.xml">
    <arg name="robot_model" value="eddie_primesense" />
  </include>

  <!-- Launch eddiebot driver -->
  <include file="$(find eddiebot_bringup)/launch/includes/eddie_driver.launch.xml" />

  <!-- Launch Camera Driver (Primesense Carmine) -->
  <include file="$(find openni2_launch)/launch/openni2.launch" />

</launch>
